@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider


Please login below or <a href="register">Register</a> for a new accourt.

<EditForm Model="user" OnValidSubmit="OnHandleLogin">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label for="username">UserName</label>
        <InputText id="username" @bind-Value="user.UserName" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
    </div>
    <ValidationSummary></ValidationSummary>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private UserLogin user = new UserLogin();

    private async void OnHandleLogin()
    {
    // later this will be a token 
        await LocalStorageService.SetItemAsync<bool>("isAuthenticated", true);
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}