@using System.Text.Json
<div class="top-menu">
    <img src="Icons/banana.png" alt="banana-icon"/>
    <span class="popover-header"> @Bananas</span>
    <AddBananas  BananasAdded="@AddBananas"/>
</div>

@code {
    [Parameter]
    public int Bananas { get; set; } = 100;

    public void AddBananas(int value)
    {
        Bananas += value;
    }
}