@inject IBananaService BananaService
@implements IDisposable

<AuthorizeView>
    <Authorized>
        <div class="top-menu">
            <img src="Icons/banana.png" alt="banana-icon"/>
            <span class="popover-header">
                @BananaService.Bananas
            </span>
        
            <AddBananas/>
        </div>
    </Authorized>
    <NotAuthorized>
        <NavLink href="">Login</NavLink>
        <NavLink href="register">Register</NavLink>
    </NotAuthorized>
    
</AuthorizeView>


@code {
    
    protected override void OnInitialized()
    {
        BananaService.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        BananaService.OnChange -= StateHasChanged;
    }

}