@page "/Build"
<h3>Build</h3>
<button class="btn btn-dark" @onclick="() => EatBananas(20)">Build</button>

@code {

    private void EatBananas(int amount)
    {
        Console.WriteLine($"{amount} bananas eaten.");
    }
}